- provide(:title, "Sign up")
%h1.center Sign up

.row
  .col-lg-6.col-lg-offset-3
    = form_for(@user) do |f|
      = render "shared/error_messages"

      = f.label :login
      = f.text_field :login, :class => "form-control"

      = f.label :email
      = f.text_field :email, :class => "form-control"

      = f.label :password
      = f.password_field :password, :class => "form-control"

      = f.label :password_confirmation, "Confirm password"
      = f.password_field :password_confirmation, :class => "form-control"

      %br/
      = f.submit "Create account", :class => "btn btn-large btn-primary"