.navbar.navbar-fixed-top.navbar-inverse
  %a.navbar-brand{ :href => "#" } BULLETIN BOARD
  %ul.nav.navbar-nav.pull-right
    %li
      = link_to "Home", root_path
    %li
      = link_to "Users", "#"
    - if signed_in?
      %li.dropdown
        %a.dropdown-toggle{ "data-toggle" => "dropdown", :href => "#" }
          = current_user.login
          %b.caret
        %ul.dropdown-menu
          %li= link_to "Profile", current_user
          %li= link_to "Edit profile", "#"
          %li.divider
          %li= link_to "Sign out", signout_path, :method => "delete"
    -else
      %li
        = link_to "Sign in", signin_path